@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Lato:wght@900&family=Rubik:wght@500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "lato", sans-serif;
}
body {
  background: radial-gradient(
    circle at 10% 20%,
    rgba(215, 233, 225, 0.46) 0.1%,
    rgba(220, 213, 213, 0.28) 90.1%
  );
}

.pricing {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 47px;
  margin: 8rem auto;
  gap: 8rem;
}

.card {
  background-color: white;
  height: 100%;
  padding: 4.5em 3.5rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 15px;
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-17px);
}
.card h3 {
  text-align: center;
  font-weight: 500;
}
.card h1 {
  margin: 15px 0px;
  margin-bottom: 18px;
  font-size: 32px;
}
.card li {
  list-style: none;
  display: flex;
  margin-top: 10px;
  letter-spacing: 0.4px;
}

.icons {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  color: rgb(0, 50, 77);
}

button {
  --button_radius: 0.75em;
  --button_color: white;
  --button_outline_color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.button_top {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button:hover .button_top {
  transform: translateY(-0.33em);
}

button:active .button_top {
  transform: translateY(0);
}

.btn {
  margin-top: 2rem;
}

.popular {
  position: relative;
  overflow: hidden;
  background-color: #202842;
}

.popular::before {
  content: "Featured";
  position: absolute;
  top: 18px;
  color: #111;
  font-weight: 500;
  right: -45px;
  background: rgb(232, 228, 0);
  transform: rotate(45deg);
  font-size: 15px;
  padding: 0.4rem 3.2rem;
}

.popular h1,
.popular li,
.popular h3 {
  color: white;
}

.prem {
  color: white;
}

/* Queries */
@media (max-width: 59em) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 49.2rem) {
  html {
    font-size: 120%;
  }
  .pricing {
    flex-direction: column;
  }
}
